html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

h1{
    color: indigo;
}

tr:nth-child(even){
    background-color: lightgray;
}

#home-bball{
    max-height: 5rem;
}